#footer {
    background-color: #182642;
    padding: 5% 2%;
    color: white;
    .container-fluid {
        padding: 0px;
        margin: 0px;
        .footer-body {
            ul {
                list-style: none;
                li {
                    margin-top: 10px;
                    a:hover {
                        color: white;
                        text-decoration: none;
                        i {
                            padding-right: 2px;
                        }
                    }
                }
            }
        }
    }
}