section#companies
    div.container-fluid.row
        div.companies_header.col-12
            h4 Top companies on Job Searching
        div.col-lg-3.text-center
            img(src="dist/image/dell.png", alt="DEL")
        div.col-lg-3.text-center
            img(src="dist/image/dell.png", alt="DEL")
        div.col-lg-3.text-center
            img(src="dist/image/dell.png", alt="DEL")
        div.col-lg-3.text-center
            img(src="dist/image/dell.png", alt="DEL")