section#competition
    div.container-fluid.row
        div.competition-image1.col-6
        div.competition-descraption.col-6
            h2 Beat your competition
            p We've got answers to all your burning questions on interviews, resumes, networking, and job hunting skills.
            button.career.btn 
                a(href="#") career toolkit
        div.competition-descraption.col-6.competition-descraption2
            h2 Know your worth
            p Predict the salary you can earn based on your unique skillset, job title, experience, and location.
            button.salary.btn 
                a(href="#") Salary Predictor
        div.competition-image2.col-6
