footer#footer
  div.container-fluid.row
    div.col-lg-2.footer-body.col-md-4.col-sm-6
        ul 
            li Job Seekers
            li 
                a(href="#") International Jobs 
            li 
                a(href="#") Blog 
            li 
                a(href="#") Career Insights
            li 
                a(href="#") Talent Networks
            li 
                a(href="#") Sitemap
            li 
                a(href="#") Accessibility
    div.col-lg-2.footer-body.col-md-4.col-sm-6
        ul 
            li Help Center
            li 
                a(href="#") Manage Email
            li 
                a(href="#") Reset Password
            li 
                a(href="#") Customer Support
    div.col-lg-2.footer-body.col-md-4.col-sm-6
        ul 
            li Employers
            li 
                a(href="#") Browse Products 
            li 
                a(href="#") Post Jobs
            li 
                a(href="#") Recruiting Solutions
            li 
                a(href="#") Screening
            li 
                a(href="#") HCM
            li 
                a(href="#") Advertise with Us
    div.col-lg-2.footer-body.col-md-4.col-sm-6
        ul 
            li CareerBuilder
            li 
                a(href="#") About Us
            li 
                a(href="#") Work at CareerBuilder
    div.col-lg-2.footer-body.col-md-4.col-sm-6
        ul 
            li Stay Connected
            li 
                a(href="#") 
                    i.fab.fa-twitter-square   Twitter
            li 
                a(href="#") 
                    i.fab.fa-instagram   Instagram
            li 
                a(href="#") 
                    i.fab.fa-youtube-square   Youtube
            li 
                a(href="#") 
                    i.fab.fa-facebook   Facebook
            li 
                a(href="#") 
                    i.fab.fa-google-plus-square   Google Plus
            li 
                a(href="#") 
                    i.fab.fa-pinterest-square   Pinterest
            li 
                a(href="#") 
                    i.fab.fa-linkedin  LinkedIn
    div.col-lg-2.footer-body.col-md-4.col-sm-6
        ul 
            li Legal
            li 
                a(href="#") Security & Fraud
            li 
                a(href="#") Privacy Policy
            li 
                a(href="#") Terms
            li 
                a(href="#") Data Subject Access Request
