header#home
  div.container-fluid.row
    nav(class="navbar navbar-expand-lg navbar-dark bg-dark text-center")
      a(class="navbar-brand hidden-lg" href="#home")
        h3 Job
          
      div(class="collapse navbar-collapse text-center" id="navbarSupportedContent")
        ul(class="navbar-nav mr-auto")
          li(class="nav-item active")
            a(class="nav-link" href="#about") Tech Careers 
          li(class="nav-item")
            a(class="nav-link" href="#downloads") Career Explorer 
          li(class="nav-item")
            a(class="nav-link" href="#plans") Insights 
          
        ul(class="navbar-nav mr-auto")
          li(class="nav-item")
            a(class="nav-link" href="#contact") Contact Sales 
          li(class="nav-item")
            a(class="nav-link" href="#about") For Employers  
          li(class="nav-item")
            a(class="nav-link" href="#downloads") Login/Register

    
    div(id="mySidenav" class="sidenav")
      a(href="" class="closebtn" onclick="closeNav()") &times;
      a(href="#" class="nav-link") Tech Careers 
      a(href="#" class="nav-link") Career Explorer
      a(href="#" class="nav-link") Insights 
      a(href="#" class="nav-link") Contact Sales 
      a(class="nav-link" href="#about") For Employers 
      a(class="nav-link" href="#downloads") Login/Register
    span(style="font-size:30px;cursor:pointer; display:none;" onclick="openNav()" class="open") &#9776;
    
    div(class="text-center header-body col-12")
      div.form.row.text-center
        div.col-12.text-center.text-header
          h2 Search 78,263 tech jobs. Find yours today.
        input(type="text" placeholder="Job Title, Skills, Keywords or Company Name" class="col-lg-4")
        input(type="text" placeholder="Zip Code, City or State" class="col-lg-4")
        button.text-center.search-btn.btn Search