header#job
  div.container-fluid.row
    div.col-lg-4.job-search
      div(style="float:left;width:300px;")
        div(id="accordion")
          ul
            li.li
              div 
                p.p Location 
                    i.fas.fa-plus
              ul
                li
                  a(href="?11" class="") 
                    input(type="text" placeholder="Enter Your Location to search")
                        
            li.li
              div 
                p.p Job Function
                    i.fas.fa-plus
              ul
                li
                    input(type="checkbox" name="all" value="all")
                    |   All
                li
                    input(type="checkbox" name="vehicle1" value="Bike") 
                    |   Administrative
                li
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   Advocacy
                li
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   Community Engagement/Outreach
                li
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   Development/Fundraising
                li  
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   Program Management

            li.li
              div 
                p.p Issue Areas
                    i.fas.fa-plus
              ul
                li
                    input(type="checkbox" name="all" value="all")
                    |   All
                li
                    input(type="checkbox" name="vehicle1" value="Bike") 
                    |   Children & Youth
                li
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   Community Development
                li
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   Education
                li
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   Health & Medicine
                li  
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   Volunteering

            li.li
              div 
                p.p Education Level
                    i.fas.fa-plus
              ul
                li
                    input(type="checkbox" name="all" value="all")
                    |   All
                li
                    input(type="checkbox" name="vehicle1" value="Bike") 
                    |   2-Year Degree Required
                li
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   4-Year Degree Required
                li
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   Doctorate (PhD) Required
                li
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   High School Diploma Required
                li  
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   J.D. Required 

            li.li
              div 
                p.p Professional Level
                    i.fas.fa-plus
              ul
                li
                    input(type="checkbox" name="all" value="all")
                    |   All
                li
                    input(type="checkbox" name="vehicle1" value="Bike") 
                    |   Entry level
                li
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   Executive
                li
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   Managerial
                li
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   None specified
                li  
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   Professional

            li.li
              div 
                p.p Full Time / Part Time
                    i.fas.fa-plus
              ul
                li
                    input(type="checkbox" name="all" value="all")
                    |   All
                li
                    input(type="checkbox" name="vehicle1" value="Bike") 
                    |   Full Time 
                li
                    input(type="checkbox" name="vehicle1" value="Bike") 
                    |   Part Time

            li.li
              div 
                p.p Remote / On-Site
                    i.fas.fa-plus
              ul
                li
                    input(type="checkbox" name="all" value="all")
                    |   All
                li
                    input(type="checkbox" name="vehicle1" value="Bike") 
                    |   Remote 
                li
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   On-Site
          
            li.li
              div 
                p.p Org Type
                    i.fas.fa-plus
              ul
                li
                    input(type="checkbox" name="all" value="all")
                    |   All
                li
                    input(type="checkbox" name="vehicle1" value="Bike") 
                    |   Consultant
                li
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   Government
                li
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   Nonprofit
                li
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   Recruiter
                li  
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   Social Enterprise  
