header#job
  div.container-fluid.row
    div.col-lg-4.job-search
      div(style="float:left;width:300px;")
        div(id="accordion")
          ul
            li.li
              div 
                p.p Location 
                    i.fas.fa-plus
              ul
                li
                  a(href="?11" class="") 
                    input(type="text" placeholder="Enter Your Location to search")
                        
            li.li
              div 
                p.p Job Function
                    i.fas.fa-plus
              ul
                li
                    input(type="checkbox" name="all" value="all")
                    |   All
                li
                    input(type="checkbox" name="vehicle1" value="Bike") 
                    |   Administrative
                li
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   Advocacy
                li
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   Community Engagement/Outreach
                li
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   Development/Fundraising
                li  
                    input(type="checkbox" name="vehicle1" value="Bike")  
                    |   Program Management

            li.li
              div 
                p.p Issue Areas
                    i.fas.fa-plus
              ul
                li
                  a(href="?31" class="link")  

            li.li
              div 
                p.p Education Level
                    i.fas.fa-plus
              ul
                li
                  a(href="?41" class="link")  

            li.li
              div 
                p.p Professional Level
                    i.fas.fa-plus
              ul
                li
                  a(href="?51" class="link")  

            li.li
              div 
                p.p Full Time / Part Time
                    i.fas.fa-plus
              ul
                li
                  a(href="?61" class="link")  

            li.li
              div 
                p.p Remote / On-Site
                    i.fas.fa-plus
              ul
                li
                  a(href="?71" class="link")  

            li.li
              div 
                p.p Org Type
                    i.fas.fa-plus
              ul
                li
                  a(href="?81" class="link")  






